@model IEnumerable<Mvc.Models.mvcMetodoPago>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        body {
            background-color: blanchedalmond;
        }
    </style>
    <table class="table table-success table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago1)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago1)
                </td>

            </tr>
        }

    </table>
    @Html.ActionLink("Nuevo Metodo de Pago", "Create", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Volver al menu", "Index", "Home", null, new { @class = "btn btn-danger" })
</body>
</html>
